@use 'vars.scss';

:host {
    --width: auto;
    --background-1024: transparent;
    --box-shadow-1024: none;
}

header{
    display:flex;
    align-items: center;
    justify-content: space-between;
    width: var(--width);
    padding: 0 1rem;
    height: vars.$HEADER_HEIGHT;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px); /* Para Safari */
    z-index: 100;
}

.actions-header-container{
    display: flex;
    align-items: center;
    gap: 1.5rem;
}


@media screen and (min-width: 1024px) {
    .with-out-background {
        background: var(--background-1024);
        box-shadow: var(--box-shadow-1024) !important;
    }

}