@use "vars.scss";

$cursor-blink-speed: 1s;
$QUANTITY_LETTER: 7;

.typing-animation {
  display:flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  .text {
    font-size: vars.$SIZE_LETTER_HOME;
    line-height: vars.$LINE_HEIGHT_LETTER_HOME;
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: pre-line;
    position:relative;
  }

  .cursor {
    display: inline-block;
    position:absolute;
    margin-top: -4px;
    margin-left: -1rem;

    animation: 
      cursor $cursor-blink-speed infinite,
      appear $cursor-blink-speed infinite;
  }

}

@keyframes cursor {
  to {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }
}
