
$cursor-blink-speed: 1s;

.typing-animation {
  
  max-width: 560px;
  .text {
    font-family: monospace;
    font-size: 8rem;
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: normal;
    position:relative;  
    //background:red;
  }

  .cursor {
    display: inline-block;
    position:absolute;
    margin-top: -4px;
    margin-left: -1rem;

    animation: 
      cursor $cursor-blink-speed infinite,
      appear $cursor-blink-speed infinite;
  }

}

@keyframes cursor {
  to {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }
}
