@use 'vars.scss';
@use "sass:map";

.layout {
    width: 100%;
    min-height: 100dvh;
    display: grid;
    grid-template-columns: vars.$MENU_WIDTH 1fr;
    grid-template-rows: vars.$HEADER_HEIGHT 1fr;
    transition: grid-template-columns vars.$ANIMATION_TIME ease-in-out;
}
    
.header { grid-area: 1 / 1 / 2 / 3; }
.menu { 
    grid-area: 2 / 1 / 3 / 2; 
    z-index: 10;
    transition: transform vars.$ANIMATION_TIME ease-in-out;
}
.content { 
    grid-area: 2 / 2 / 3 / 3; 
    padding: 2rem;
    transition: transform vars.$ANIMATION_TIME ease-in-out;
}

//--------- BODY LAYOUT ----------\\

.bg-body {
    background-color: map.get(vars.$NEUTRAL_COLOR, 200);
    transition: vars.$ANIMATION_TIME;
}

.dark-theme.bg-body {
    background-color: map.get(vars.$NEUTRAL_COLOR, 700);
}

//------------ MENU MOVEMENT ----------\\
.menu.hidden {
    transform: translateX(-100%);
}

.menu.is-open {
    transform: translateX(0);
}

//------------ LAYOUT WITHOUT MENU ----------\\

.is-menu-close {
    grid-template-columns: 0 1fr;
}
