<div class="card bg-white scale-up-horizontal-left">
    
    <div class="basic-info">
        <h3 class="title">{{education.title}}</h3>
        <div class="ubication-container">
            <app-icons [name]="'school'"></app-icons>
            <span class="ubication grey-color" >{{education.ubication}}</span>
        </div>

        <div class="period-container">
            <app-icons [name]="'calendar'"></app-icons>
            <span class="period grey-color">{{education.date}}</span>
        </div>
    </div>

    <div class="line-grey bg-neutral-600"></div>

    <div class="content">
        <p class="description color-800">{{education.description}}</p>    
    </div>

</div>