@use 'vars.scss';
@use "sass:map";

$PADDING_HOVER: 0.6rem;
$POSITION: calc(#{$PADDING_HOVER} / 2);

.icon{
  
  box-sizing: content-box;
    padding: $PADDING_HOVER;
    cursor: pointer;
    border-radius: 50%;
}

.is-dark-mode{
    path{
        stroke: map.get(vars.$NEUTRAL_COLOR, 50);
    }
}

.cross {
  opacity: 0;
}


@media screen and (max-width: 1024px) {

  .icon{
    z-index: 100;
  }



  .line, .cross {
    transition: opacity vars.$ANIMATION_TIME ease, transform vars.$ANIMATION_TIME ease;
  }

  .cross {
    opacity: 0;
  }

  .icon.is-open {
    .line {
      opacity: 0;
    }

    .cross {
      opacity: 1;
    }
  }  
}

