@use 'vars.scss';

$BACKGROUND: map-get(vars.$PRIMARY_COLOR, 700);
$BACKGROUND_HOVER: map-get(vars.$PRIMARY_COLOR, 800);
$BACKGROUND_ACTIVE: map-get(vars.$PRIMARY_COLOR, 900);
$SCALE_BUTTON_PRESSED: 0.95;
$ANIMATION_BUTTON_PRESSED_DURATION: 2s;

$WIDTH_BUTTON: 310px;
$HEIGHT_BUTTON: 58px;


.btn {
  position: relative;
  padding: 1rem 2rem;
  background-color: $BACKGROUND;
  border: none;
  overflow: hidden;
  cursor: pointer;
  border-radius: 0.5rem;
  transition: 0.3s;
  width: $WIDTH_BUTTON;
  height: $HEIGHT_BUTTON;
}

.btn-text{
  font-size: 2rem;
  color: map-get(vars.$NEUTRAL_COLOR, 50);
}

.btn:hover:not(.is-expanded) {
  background-color: $BACKGROUND_HOVER;
  animation: background-color-animation-hover 1s ease-in-out;
}

.btn:active:not(.is-expanded) {
  background-color: $BACKGROUND_ACTIVE; 
  transform: scale($SCALE_BUTTON_PRESSED);
  animation: animation-button-active vars.$ANIMATION_TIME ease-in-out;
}

.dot {
  position: absolute;
  width: 1rem;
  height: 1rem;
  background: $BACKGROUND_HOVER;
  border-radius: 50%;
  pointer-events: none;
  transform: scale(0);
  opacity: 1;
  animation: ripple 0.3s ease-out forwards;
}

/*.is-expanded {
  animation: animation-button-expanded $ANIMATION_BUTTON_PRESSED_DURATION ease-in-out;

  .btn-text{
    animation: ripple 0.3s ease-out forwards;
  }
}*/

@keyframes ripple {
  from {
    transform: scale(0);
    opacity: 1;
  }
  to {
    transform: scale(20);
    opacity: 0;
  }
}

@keyframes background-color-animation-hover {
  0% {
    background-color: $BACKGROUND;
  }
  100% {
    background-color: $BACKGROUND_HOVER;
  }
}

@keyframes animation-button-active {
  0% {
    background-color: $BACKGROUND_HOVER;
    transform: scale(1);
  }
  100% {
    transform: scale($SCALE_BUTTON_PRESSED);
    background-color: $BACKGROUND_ACTIVE;
  }
}

/*@keyframes animation-button-expanded {
  0% {
    background-color: $BACKGROUND_ACTIVE;
    transform: scale($SCALE_BUTTON_PRESSED);
    border-radius: 0.5rem;
    width: $WIDTH_BUTTON;
    height: $HEIGHT_BUTTON;
    position:absolute;
    left: 50%;
    transform: translate(-50%, -50%);

    
  }


  50%{
  }
  /*25% {
    width: 30rem;
    height: 30rem;
    top:0;
    left:0;
  }*
  100% {
    background-color: $BACKGROUND;
    transform: scale(40);
    border-radius: 50%;
    transform: translate(-50%, -50%);
  }
}*/


