<app-layout>
    <app-card-education [title]="'Universidad Tecnológica Nacional'" [description]="'Tecnicatura universitaria en desarrollo y producción de videojuegos'" [date]="'2024-act'"></app-card-education>
    <app-card-education [title]="'Universidad Nacional de Rosario'" [description]="'Licenciatura en Ciencias de la computación'" [date]="'2020-2022'"></app-card-education>
    <app-card-education [title]="'Argentina Programa'" [description]="'#YoProgramo'" [date]="'2020-2021'"></app-card-education>
    <app-card-education [title]="'Universidad Nacional de Rosario'" description='Superior de Comercio "Lib. Gral. San Martín"' [date]="'2015-2019'"></app-card-education>
</app-layout>