<app-layout>
    <div class="education-container">
        <app-card-education class="card-container" [title]="'Universidad Tecnológica Nacional'" [description]="'Tecnicatura universitaria en desarrollo y producción de videojuegos'" [date]="'2024-act'"></app-card-education>
        <app-card-education class="card-container" [title]="'Universidad Nacional de Rosario'" [description]="'Licenciatura en Ciencias de la computación'" [date]="'2020-2022'"></app-card-education>
        <app-card-education class="card-container" [title]="'Argentina Programa'" [description]="'#YoProgramo'" [date]="'2020-2021'"></app-card-education>
    </div>

</app-layout>