@use "vars.scss";
@use "bubbles.scss";
@use "fade-home-animations.scss";

.header{
  display:flex;
  width:100%;
}

.section-home{
  display:flex;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  margin-top: 4rem;
  height: 100%;
}

.text-name, .actions{
  width: vars.$WIDTH_COLUMN_HOME; 
}

.text-name {
  height: 300px;
  animation: fade-in-left fade-home-animations.$ANIMATION_FADE_TIME ease-in-out;
}

.actions{
  display:flex;
  align-items: center;
  justify-content: center;

  animation: fade-in-right fade-home-animations.$ANIMATION_FADE_TIME ease-in-out;
}

