<div [ngClass]="{'dark-theme': (theme$ | async) === 'dark'}">
  
  <app-mouse-trail></app-mouse-trail>
<!--
  <div class="bubbles-container bg-white-200">
    <!-- Si modificamos el 25, también desde el código Scss -->
    <!--<div *ngFor="let _ of [].constructor(25); let i = index" class="bubble bg-primary"></div>

    <app-header class="header" 
    style="--width:100%;"
    [ngClass]="{'is-out-top': getIsOutHeader()}"></app-header>

    <section class="section-home">
        <app-text-name class="text-name" [ngClass]="{'is-out-left': getIsOutName()}"></app-text-name>
        
        <div class="actions" [ngClass]="{'is-out-right': getIsOutButton()}">
            
          <app-start-button (clicked)="startAnimation()" />
        </div>
        
    </section>
  
  </div>-->

</div>


