@use "vars.scss";
@use "bubbles.scss";
@use "home-animations.scss";

.header{
  display:flex;
  width:100%;
}

.section-home{
  display:flex;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  margin-top: 4rem;
  height: 100%;
}

.text-name{
  min-height: vars.$HEIGHT_LETTER_HOME;
}

.text-name {
  animation: fade-in-left home-animations.$ANIMATION_FADE_TIME ease-in-out;
}

.actions{
  display:flex;
  align-items: center;
  justify-content: center;

  animation: fade-in-right home-animations.$ANIMATION_FADE_TIME ease-in-out;
}

