@use "vars.scss";


.menu{
    width: 100%;
    height: 100%;
    //background: green;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    opacity: 1;
    transform: translate(0);
    transition: vars.$ANIMATION_TIME;
}


@media screen and (max-width: 1024px) {
   
}